[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[core]
	editor = nvim
	pager = delta
	autocrlf = input

[rebase]
	autoStash = true

[diff]
	colorMoved = zebra

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[alias]
	st    = status -sb
	co    = checkout
	br    = branch -vv
	lg    = log --oneline --graph --decorate --all
	undo  = reset HEAD~1 --mixed
	wip   = !git add -A && git commit -m 'wip'
[user]
	name = Your Name
	email = you@example.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
