{
  "editor.fontFamily": "JetBrains Mono, Fira Code, monospace",
  "editor.fontLigatures": true,
  "editor.fontSize": 14,
  "editor.minimap.enabled": false,
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll": "explicit",
    "source.organizeImports": "explicit"
  },
  "editor.inlineSuggest.enabled": true,
  "editor.rulers": [
    100,
    120
  ],
  "editor.renderWhitespace": "selection",
  "editor.tabSize": 2,
  "editor.detectIndentation": true,
  "editor.wordWrap": "off",
  "editor.stickyScroll.enabled": true,
  "files.autoSave": "onFocusChange",
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "files.eol": "\n",
  "terminal.integrated.defaultProfile.linux": "kitty",
  "terminal.integrated.fontSize": 13,
  "terminal.integrated.scrollback": 100000,
  "workbench.colorTheme": "Dark Modern",
  "workbench.iconTheme": "material-icon-theme",
  "workbench.startupEditor": "none",
  "explorer.confirmDragAndDrop": false,
  "explorer.confirmDelete": false,
  "git.autofetch": true,
  "git.confirmSync": false,
  "git.enableSmartCommit": true,
  "github.copilot.enable": {
    "*": true,
    "plaintext": false,
    "markdown": true,
    "scminput": false
  },
  "typescript.updateImportsOnFileMove.enabled": "always",
  "javascript.updateImportsOnFileMove.enabled": "always",
  "typescript.tsdk": "node_modules/typescript/lib",
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "vscode.json-language-features"
  },
  "[yaml]": {
    "editor.defaultFormatter": "redhat.vscode-yaml"
  },
  "go.useLanguageServer": true,
  "go.formatTool": "gofmt",
  "docker.showStartPage": false,
  "redhat.telemetry.enabled": false,
  "dart.flutterSdkPath": "@@HOME@@/flutter"
}
